@font-face {
  font-family: "Cerebri_Sans_Bold";
  src: url(./assets/Cerebri_Sans_SemiBold.ttf);
}

:root {
  --dark-green: #346b34;
  --light-green: #1fc875;
  --pale-green: #d4f9e8;
  --beige: #f8f2dd;
  --light-beige: #fffffa;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Cerebri_Sans_Bold";
  background-color: var(--light-green);
  color: var(--beige);
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

main > * + * {
  margin-top: 1rem;
}

.connect {
  position: absolute;
  top: 20px;
  right: 20px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--beige);
  text-decoration: none;
}

h2 {
  text-align: center;
}

.did-you-know {
  font-size: 12px;
  margin: 1rem;
  border: 5px dotted var(--beige);
  padding: .75rem;
}

.mascot,
.mascot-quiet,
.mascot-welcome,
.mascot-laptop {
  max-height: 300px;
  width: auto;
}
.mascot-showing {
  height: 200px;
  align-self: start;
}
.mascot-quiet {
  height: 250px;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.mascot-welcome {
  position: absolute;
  top: 25%; right: 25%;
}

.waste-collection {
  margin-left: 1rem;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.button-connect,
.button-adress {
  margin: 10px;
  transition: 0.5s;
  background: transparent;
  min-height: 50px;
  min-width: 100px;
  border: 4px solid var(--beige);
  color: var(--beige);
}

.button-adress {
  border: 4px solid var(--light-green);
  color: var(--light-green);
}

.button-search:hover,
.button-connect:hover {
  box-shadow: inset 0 0 0 2em var(--beige);
  color: var(--light-green);
}

.button-adress:hover {
  box-shadow: inset 0 0 0 2em var(--light-green);
  color: var(--beige);
}

input {
  padding: 0 10px;
  transition: 0.5s;
  background: transparent;
  height: 30px;
  min-width: 100px;
  border: 1px solid var(--beige);
  color: var(--beige);
}

.button-search {
  transition: 0.5s;
  background: transparent;
  height: 30px;
  min-width: 30px;
  border: 1px solid var(--beige);
  color: var(--beige);
}

input:hover,
input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2em var(--beige);
  color: var(--light-green);
}

#search-adress {
  border: 1px solid var(--light-green);
  color: var(--light-green);
}

#search-adress:focus {
  outline: none;
  box-shadow: inset 0 0 0 2em var(--light-green);
  color: var(--light-beige);
}

.collect {
  display: inherit;
  text-align: center;
}

:is(.email, .password) input:focus,
:active {
  outline: none;
}

.around-me {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.map-container {
  position: relative;
  z-index: 0;
}

.notification-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: var(--beige);
  color: var(--light-green);
}

.notification-manager-container h4,
.notification-manager-container h5 {
  text-align: center;
}

.notification-manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.notification-manager button {
  padding: 0.5rem;
  background-color: var(--beige);
  color: var(--light-green);
  border: 2px solid var(--light-green);
}

.input-search {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: repeat(2, 1fr);
  width: 200px;
  flex-grow: 1;
}

#search,
.button-search {
  align-self: end;
}

.waste-result {
  width: 200px;
  height: auto;
  margin: 0;
  outline: none;
  box-shadow: inset 0 0 0 2em var(--beige);
  color: var(--light-green);
  overflow: hidden;
  overflow-y: auto;
  align-self: start;
}

.homebin {
  padding: 1rem;
}

.mymodal {
  position: fixed;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--beige);
  color: var(--light-green);
  overflow: auto;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;

}

details {
  margin-top: 1rem;
}

@media screen and (min-width: 700px) {
  .mascot,
  .mascot-showing {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 500px) {
  .map-container {
    display: flex;
    justify-content: center;
  }
  .mascot-welcome {
    display: none;
  }
}